[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "latticeDensity"]
	path = latticeDensity
	url = https://github.com/cran/latticeDensity
	shallow = true
	registered = true
